@import './mixins.scss';

.photo-collections-app {
  margin: 20px auto;
  max-width: 1280px;
}

.header {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 55px;
}

.categories,
.collections {
  margin-bottom: 75px;
}

.collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
}

.pagination {
  @include page;

  &:hover,
  &:active {
    @include active;
  }

  &:active {
    background-color: #414141;
  }
}
