@import './mixins.scss';

.photo-collections-app {
  margin: 20px auto;
  max-width: 1280px;
}

.header {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 55px;
}

.categories,
.collections {
  margin-bottom: 75px;
}

.collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
}

.pagination {
  @include page;

  &.active {
    @include active;
  }

  &:hover,
  &:active {
    @include active;
  }

  &:active {
    background-color: #414141;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.568);
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__icon {
  width: 300px;
  height: 300px;
}
