@import '../../mixins.scss';

.collection {
  @include collection;

  img {
    width: 210px;
    height: 100px;
    border-radius: 25px;
    padding: 5px;
    margin-bottom: 10px;

    &.img-1 {
      width: 370px;
      height: 220px;
      padding: 3px;

      grid-column-start: 1;
      grid-column-end: 4;
    }
  }

  h4 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;

    grid-column-start: 1;
    grid-column-end: 4;
  }
}
